# CODEOWNERS
# Wildcard starter, all files are owned by PlatOps team
* @hmcts/platform-operations

# More specific rules override the wildcard above, no owner allows anyone to update

## cpp-development-admin
environments/prod/cjscp-org-uk.yml @hmcts/platform-operations @hmcts/cpp-development-admin
environments/prod/hmcts-net.yml @hmcts/platform-operations @hmcts/cpp-development-admin

## juror-digital
environments/prod/reply-jury-summons-service-gov-uk.yml @hmcts/platform-operations @hmcts/juror-digital
environments/prod/juror-bureau-justice-gov-uk.yml @hmcts/platform-operations @hmcts/juror-digital

## Courtfines
environments/prod/courtfines-justice-gov-uk.yml hmcts/platform-operations @hmcts/courtfines

## Shuttering configuation, no owner allows anyone to update
shuttering/