---
trigger:
  - master
variables:
  terraformVersion: 0.12.16
  agentPool: 'ubuntu-18.04'
  action: plan

stages:
  - stage: Sandbox_Plan
    displayName: "Sandbox plan"
    jobs:
      - job: Validate
        pool:
          vmImage: ${{ variables.agentPool }}
        steps:
          - template: pipeline-templates/terraform-plan.yaml
            parameters:
              environment: 'mgmt'
              zone: 'ithc'
              build: $(Build.BuildNumber)
              agentPool: ${{ variables.agentPool }}
              azureSubscription: 'Reform-CFT-Mgmt'
              subscription_id: 'ed302caf-ec27-4c64-a05e-85731c3ce90e'

  - stage: Sandbox_Apply
    displayName: "Sandbox Apply"
    condition: and(succeeded(), eq(variables['action'], 'apply'))
    jobs:
      - template: pipeline-templates/terraform-apply.yaml
        parameters:
          environment: 'mgmt'
          zone: 'ithc'
          build: $(Build.BuildNumber)
          agentPool: ${{ variables.agentPool }}
          terraformVersion: ${{ variables.terraformVersion }}
          azureSubscription: 'Reform-CFT-Mgmt'
          subscription_id: 'ed302caf-ec27-4c64-a05e-85731c3ce90e'



